/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
/* Variables */
:root {
    /* ### Colors: */
    /* Light Theme */
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
    /* Dark Theme */
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
    /* --------------------------------- */
    /* ### Animations: */
    /* # Transition */
    --transition: ease-in-out 300ms
}
/* GLobal Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}
ul {
    list-style: none
}
/* Body & Html */
html,
body {
    font-size: 18px;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    font-family: 'Josefin Sans', sans-serif
}
button {
    cursor: pointer;
}
/* Transition */
.app .body,
.app .to-do .to-do-tasks .to-do-task,
.app .to-do .to-do-controls .to-do-list-control ul li,
.app .to-do .to-do-controls .to-do-list-control ul li::before {
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}
/* Start App */
.app {
    height: 100vh;
    position: relative;
}
/* Head */
.app .head {
    height: 30%;
    background-size: cover;
}
/* Body */
.app .body {
    height: 70%;
}
/* To Do */
.app .to-do {
    top: 100px;
    left: 50%;
    z-index: 10;
    width: 500px;
    max-width: 500px;
    position: absolute;
    padding-bottom: 10px;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
.app .to-do .to-do-head {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.app .to-do .to-do-head .btn-change-mood {
    cursor: pointer;
}
.app .to-do .to-do-head .btn-change-mood i {
    display: none;
}
/* Add todo */
.app .to-do .to-do-add-task {
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.app .to-do .to-do-add-task form {
    position: relative;
}
.app .to-do .to-do-add-task form input {
    width: 100%;
    border: none;
    padding: 20px;
    background-color: transparent;
}
.app .to-do .to-do-add-task form input:focus {
    outline: none;
}
.app .to-do .to-do-add-task form button {
    top: 0;
    padding: 0;
    padding: 10px;
    right: 10px;
    height: 100%;
    border: none;
    font-size: 1.4rem;
    position: absolute;
    background-color: transparent;
}
.app .to-do .to-do-tasks {
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}
.app .to-do .to-do-tasks .to-do-task {
    display: flex;
    padding: 15px;
    cursor: pointer;
    align-items: center;
    border-bottom: solid 1px var(--Light-Grayish-Blue);
}
.app .to-do .to-do-tasks .to-do-task.completed {
    opacity: .5;
}
.app .to-do .to-do-tasks .to-do-task input {
    margin-right: 10px;
}
.app .to-do .to-do-tasks .to-do-task input:checked {
    accent-color: hsl(254, 56%, 45%);
}
.app .to-do .to-do-tasks p.no-tasks-added-yet {
    padding: 20px 0;
    text-align: center;
}
.app .to-do .to-do-tasks .to-do-task.completed p {
    text-decoration: line-through;
}
.app .to-do .to-do-controls {
    display: flex;
    padding: 10px;
    align-items: center;
    margin-bottom: 30px;
    color: var(--Dark-Grayish-Blue);
    justify-content: space-between;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
}
.app .to-do .to-do-controls  + p {
    opacity: .6;
    font-size: 14px;
    text-align: center;
}
.app .to-do .to-do-controls .remaining-items {
    font-size: 16px;
}
.app .to-do .to-do-controls .to-do-list-control ul {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}
.app .to-do .to-do-controls .to-do-list-control ul li {
    opacity: .75;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    padding: 10px 0;
}
.app .to-do .to-do-controls .to-do-list-control ul li:hover,
.app .to-do .to-do-controls .to-do-list-control ul li.active {
    opacity: 1;
    color: cornflowerblue;
}
.app .to-do .to-do-controls .to-do-list-control ul li::before {
    bottom: 0;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    position: absolute;
    background-color: cornflowerblue;
}
@media (max-width: 500px) {
    .app .to-do {
        max-width: 320px;
    }
    .app .to-do .to-do-controls {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .app .to-do .to-do-controls .remaining-items,
    .app .to-do .to-do-controls .to-do-clear-completed,
    .app .to-do .to-do-controls .to-do-list-control {
        width: 100%;
        text-align: center;
    }
}
.app .to-do .to-do-controls .to-do-list-control ul li:hover::before,
.app .to-do .to-do-controls .to-do-list-control ul li.active::before {
    width: 100%;
}
.app .to-do .to-do-controls button.to-do-clear-completed {
    border: 0;
    padding: 10px 0;
    color: var(--Dark-Grayish-Blue);
    background-color: transparent;
}
/* Start Light Mood */
/* Head */
.light-mood .head {
    background-image: url(../images/bg-desktop-light.jpg);
}
/* Body */
.light-mood .body {
    background-color: var(--Very-Light-Gray);
}
/* To Do */
.light-mood .to-do {
    box-shadow: 0 0 30px -10px var(--Dark-Grayish-Blue);
}
.light-mood .to-do .to-do-head .btn-change-mood i.light-mood {
    display: block;
}
/* Add todo */
.light-mood .to-do .to-do-add-task {
    background-color: white;
}
.light-mood .to-do .to-do-tasks,
.app .to-do .to-do-controls {
    background-color: white;
}
/* End Light Mood */
/* Start Dark Mood */
/* Head */
.dark-mood {
    color: var(--Light-Grayish-Blue);
}
.dark-mood .head {
    background-image: url(../images/bg-desktop-dark.jpg);
}
/* Body */
.dark-mood .body {
    background-color: var(--Very-Dark-Blue);
}
/* To Do */
.dark-mood .to-do .to-do-head .btn-change-mood i.dark-mood {
    display: block;
}
/*  */
.dark-mood .to-do .to-do-add-task form input,
.dark-mood .to-do .to-do-head .btn-change-mood i,
.dark-mood .to-do .to-do-add-task form button {
    color: white;
}
.dark-mood .to-do .to-do-add-task,
.dark-mood .to-do .to-do-tasks,
.dark-mood .to-do .to-do-controls {
    background-color: var(--Very-Dark-Desaturated-Blue);
}
/* End Dark Mood */
/* End App */